* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}
:root {
    --colors-white: #EEEEEE;
    --colors-black: #333333;
    --colors-primary: var(--colors-black);
    --colors-secondary: var(--colors-white);
    --font-size-base: 1.2rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --border-radius-full: 9999px;
  }
  
  [data-theme-preference="dark"] {
    --colors-primary: var(--colors-white);
    --colors-secondary: var(--colors-black);
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      transition: none !important;
    }
  }
  
  
  .theme-switcher {
    --theme-switcher-radius: 40px;
    --theme-switcher-border: var(--colors-black);
    --theme-switcher-border-size: 3px;
    --theme-switcher-background: var(--colors-black);
    --theme-switcher-icon-size: 24px;
    --theme-switcher-icon-color: var(--colors-white);
    --theme-switcher-icon-background: #777777;
  
    display: inline-grid;
    justify-content: start;
    width: calc(var(--theme-switcher-icon-size) * 2 + var(--theme-switcher-border-size) * 2);
    padding: var(--theme-switcher-border-size);
    border: 0;
    border-radius: var(--theme-switcher-radius);
    background-color: var(--theme-switcher-background);
    line-height: 0;
    cursor: pointer;
    outline-offset: 0.5em;
    outline-color: currentColor;
  
    & * {
      pointer-events: none;
    }
  
    & > .theme-icon {
      padding: var(--theme-switcher-border-size);
      border-radius: var(--border-radius-full);
      transition: 0.3s translate;
      color: var(--theme-switcher-icon-color);
      background-color: var(--theme-switcher-icon-background);
    }
  
    & [class^="theme-icon-"] {
      width: var(--theme-switcher-icon-size);
      height: var(--theme-switcher-icon-size);
    }
  
    &[aria-pressed="true"] {
      --theme-switcher-border: #777777;
      --theme-switcher-background: #777777;
      --theme-switcher-icon-background: var(--colors-black);
  
      & .theme-icon-light {
        display: none;
      }
  
      & > .theme-icon {
        translate: calc(var(--theme-switcher-icon-size) - (var(--theme-switcher-border-size) * 2));
      }
    }
  
    &[aria-pressed="false"] {
      & .theme-icon-dark {
        display: none;
      }
    }
  }
  
  html {
    color: var(--colors-primary);
    background-color: var(--colors-secondary);
    font-family: system-ui, sans-serif;
  }
  
  body {
    display: grid;
    min-height: 100dvh;
    place-content: start center;
    justify-items: center;
    margin: 0;
    font-size: var(--font-size-base);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
  
  a {
    color: inherit;
  }
  
  code {
    font-size: inherit;
  }
  
  main {
    padding: 4rem;
    margin-inline: auto;
    max-width: 800px;
  }
  
  
  @media (width >= 40rem) {
    main {
      max-width: 1000px;
    }
}