/*Google type écriture */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-white: #fff;
    --color-text: black;
    --color-h1: #333;
    --color-lien:  rgb(145 94 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url("images/hero_setup.webp"); 
}
header .slide{
/* height: 100%; */
width: 180px;
position: absolute;
background-color: var(--color-white);
transition: 0.5s ease;
transform: translateX(-180PX);
}
h1{
    color:var(--color-h1);
    font-weight: 800;
    text-align:right ;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul {
    margin: 0;
    padding: 0;
}
ul li a{
color: var(--color-text);
display: block;
text-decoration: none;
align-items: center;
padding: 10px;
transition: 0.2s ease-out;
}
ul li:hover a{
    color:var(--color-white);
    background-color:var(--color-lien);
}
ul li a i{
    width: 100px;
    text-align: center;
}
input{
    display: none;
}
.toogle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:var(--color-white);
}
.toogle .common{
position: absolute;
height: 2px;
width: 20px;
background-color:var(--color-text);
border-radius: 50px;
}
.toogle .top_line{
top: 30%;
left: 50%;
transform: translate(-50%,-50%);
}
.toogle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toogle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toogle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toogle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toogle .middle_line{
    opacity: 0;
    transform: translate(20px);
}
input:checked ~ .slide{
transform: translateX(0);
}
.monpicht{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-white);
}
.btn {
    display: inline-flex;
    align-items: center;
    margin-top: 1.5rem;
    text-decoration: none;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(145 94 255 / var(--tw-bg-opacity));
    padding: .75rem 1.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: var(--color-white);
}
.ml-2{
    margin-left: .5rem; 
}
.profile-picture {
    position: absolute;
    top: 35%;
    right: 450px; 
}
.linkedin a{
    position: absolute;
    top: 40%;
    right: 667px;
    text-decoration: none;
    font-weight: 700;
}
.github a{
    position: absolute;
    top: 45%;
    right: 662px;
    text-decoration: none;
    font-weight: 700;
}

