* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}
nav{
/*--- Cette ligne permet de toujours afficher la barre ---*/
    position: fixed; 
    bottom: 20px; 
/*--- pour régler la largeur de la barre ---*/
    width:300px; 
/* pour centrer:  largeur divisée par -2 */    
    margin-left:-150px; 
/* pour mozilla */   
    left:50%;
    -moz-border-radius:0px 0px 10px 10px;
/* pour chrome et safari */
    -webkit-border-radius: 0px 0px 10px 10px; 
}
header{
    display: flex;
    justify-content: space-between;
}